<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/login" method="post">
    <label for="mbrId">ID:</label><br>
    <input type="text" id="mbrId" name="mbrId"><br>
    <label for="pswd">Password:</label><br>
    <input type="password" id="pswd" name="pswd"><br><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
